/* * {
   border: 1px solid red;
   }
 */

@font-face{
    font-family:'digital-7-mono';
    src: url('digital-7.mono.ttf');
}

body {
    display: flex;
    justify-content: center;
}

.calc {
    display: flex;
    width: 480px;
    height: 600px;
    flex-direction: column;
    background: #d4c79d;
    padding: 40px 20px;
    border-radius: 10px;
}

.visor-container {
    margin: 20px;
    flex: 1;
    background: #6a6551;
    border-radius: 4px;
}

.visor {
    margin: 8px;
    height: 80%;
    border-radius: 10px;
    background: #5e573b;
    font-family: 'digital-7-mono';
    font-size: 90px;
    padding: 0px 8px;
    text-align: right;
}

.row {
    display: flex;
    flex: 1;
    
}

.func-btn {
    background: #405b6e;
}

.onc-btn {
    background: #a02d26;
}

button {
    margin: 16px 8px;
    border-radius: 5px;
    flex: 1;
    background: black;
    color: white;
    font-size: 30px
    
    /* #405b6e */
    /* a02d26 */
    /* d4c79d */
}
